.headerGeneral {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: #afaeae 1px solid;
}

.imgHeader {
  width: 350px;
  height: 90%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

