/* Styles for Projects Page */
//Titulos Principales
h1 {
  margin: 80px 0 20px 10px;
}

h2 {
  margin: 0 0 40px 10px;
  font-weight: normal;
  color: #555;
  font-size: 18px;
}
//Estados Obras
.status{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-bottom: 30px;
}

.status-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 80px;
  border-radius: 15px;
  border: solid 1px #949393;
}

.status-item h3{
  margin: 10px 0 0 0;
  color: #383838;
}
