footer {
  margin-top: 50px;
  width: 100%;
}

//First Container
.firstContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #3c3c3c;
  padding-top: 70px;

  & .projects, .clients, .awards, .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    & p {
      margin: 0 0 70px 0;
      font-size: 19px;
      font-weight:100;

    }

    & h3 {
      font-size: 22px;
    }

    & .projectIcon, .clientsIcon, .awardsIcon, .experience{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #585858;
      padding: 15px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: invert(100%);
      }
    }
  }
}

//Second Container

.secondContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  background-color: #4f4f4f;
  color: white;

  & .description, .links, .services{
    display: flex;
    flex-flow: column wrap;
    width: 25%;
    margin: 50px 0;

    & .logo {
      width: 90%;
      height: 140px;
      margin-bottom: 20px;

      & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    & a {
      text-decoration: none;
      font-size: 17px;
      margin-top: 6px;
      color: white;
    }

    & p {
      margin: 6px 0 0 0;
      font-size: 17px;
    }
  }
}

.rights {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #5f5f5f;
  color: white;
  font-size: 20px;
}
